@model TipoMonedaModel;
@{
    ViewData["Title"] = "Editar Tipo Moneda";
}


<div class="container">
    <div class="card bg-light text-dark">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.Titulo</h5>
            <br />
            <input id="MonedaId" name="MonedaId" type="hidden" value="@ViewBag.Id" />


            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Nombre"><b>Nombre</b></label>
                    <input class="form-control" type="text" id="txtNombre" placeholder="Nombre">
                </div>

                <div class="col-sm-6">
                    <label asp-for="Codigo"><b>Código</b></label>
                    <input class="form-control" type="text" id="txtCodigo" placeholder="Código">
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Valor"><b>Valor</b></label>
                        <input asp-for="Valor" class="form-control" type="text" id="txtValor" placeholder="Valor">

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Estado"><b>Estado</b></label>
                        <select asp-for="Estado" class="form-control" id="txtEstado">
                            <option value="True" data-valor="true">Activo</option>
                            <option value="False" data-valor="false">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FechaReferencia"><b>Fecha Referencia</b></label>
                        <input asp-for="FechaReferencia" class="form-control" type="datetime" id="txtFechaReferencia" placeholder="Fecha Referencia">

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FechaSolicitud"><b>Fecha Solicitud</b></label>
                        <input asp-for="FechaSolicitud" class="form-control" type="datetime" id="txtFechaSolicitud" placeholder="Fecha Solicitud">



                    </div>
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="UrlCMF"><b>UrlCMF</b></label>
                        <input asp-for="UrlCMF" class="form-control" type="text" id="txtUrlCMF" placeholder="UrlCMF">

                    </div>

                </div>
  
            </div>
            <br />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-11">
            <button type="button" id="btnMonedaEditar" class="btn btn-primary">@ViewBag.Titulo</button>
            <button type="button" id="btnRegresarMoneda" class="btn btn-outline-secondary">Regresar</button>
        </div>


    </div>
    <br />
    @*</form>*@
</div>
@section Scripts{
    <script>

        EditaMoneda = function () {

            $(document).ready(function () {
                $('#divIndicadoresEconomicos').css('display', 'none');
                $('#divIndicadoresEconomicos').hide();
            });


            return {
                urlPostCargar: "@Url.Action(nameof(Web.ReqCompra.Controllers.BackOfficeController.PostCargar), "BackOffice")",
                urlPostGrabar: "@Url.Action(nameof(Web.ReqCompra.Controllers.BackOfficeController.PostGrabarMoneda), "BackOffice")",

                }

        }();

    </script>
    <script type="text/javascript" src="~/js/BackOffice/_EditarTpMoneda.js" asp-append-version="true"></script>
}


